<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>SAE</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ServletAutenticar</display-name>
		<servlet-name>ServletAutenticar</servlet-name>
		<servlet-class>com.unisa.tcc.servlets.ServletAutenticacao</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletInicial</display-name>
		<servlet-name>ServletInicial</servlet-name>
		<servlet-class>com.unisa.tcc.servlets.inicial</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletInicial</servlet-name>
		<url-pattern>/inicial</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletAutenticar</servlet-name>
		<url-pattern>/autenticar</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/webpages/error404.jsp</location>
	</error-page>
</web-app>
